name: deepl
channels:
  - pytorch
  - nvidia
  - conda-forge
  - defaults

dependencies:
  - python=3.9
  - pip
  - numpy<=2.0
  - pandas
  - scikit-learn
  - matplotlib
  - pytorch=2.0
  - torchvision
  - torchaudio
  - pytorch-cuda
